.flex-container{
	background-color: grey;
	padding: 10px;
}
.flex-item{
	background-color: yellow;
	padding: 15px;
    border: 4px solid grey;
}
.rombo{
	background-color: black;
	color: white;
	padding: 5px 10px;
	transform: rotate(45deg);
	border-radius: 5px;
}
.rombo span{
	display: inline-block;
	transform: rotate(-45deg);
}